<h4>Initiate Action</h4>
<p>Note: If an action is not linked, you are not authorized to initiate that action.</p>
<ul class="list-group">
  <li class="list-group-item">
    <%= link_to_if can?(:add_children, current_object) && can?(:create, IngestFolder),
                   'DPC Folder Ingest',
                   new_ingest_folder_path(ingest_folder: { collection_pid: current_object })
    %>
  </li>
  <li class="list-group-item">
    <%= link_to_if can?(:add_children, current_object),
                   'Nested Folder Ingest',
                   new_nested_folder_ingest_path(nested_folder_ingest: {collection_id: current_object, admin_set: current_object.admin_set })
    %>
  </li>
  <li class="list-group-item">
    <%= link_to_if can?(:add_children, current_object),
                   'Standard Ingest',
                   new_standard_ingest_path(standard_ingest: {collection_id: current_object, admin_set: current_object.admin_set })
    %>
  </li>
  <li class="list-group-item">
    <%= link_to_if can?(:upload, current_object),
                   'Upload Component Caption Files',
                   new_datastream_upload_path(datastream_upload: { collection_id: current_object, datastream_name: Ddr::Datastreams::CAPTION })
    %>
  </li>
  <li class="list-group-item">
    <%= link_to_if can?(:upload, current_object),
                   'Upload Component Intermediate Files',
                   new_datastream_upload_path(datastream_upload: { collection_id: current_object, datastream_name: Ddr::Datastreams::INTERMEDIATE_FILE })
    %>
  </li>
  <li class="list-group-item">
    <%= link_to_if can?(:upload, current_object),
                   'Upload Component Streamable Media Files',
                   new_datastream_upload_path(datastream_upload: { collection_id: current_object, datastream_name: Ddr::Datastreams::STREAMABLE_MEDIA })
    %>
  </li>
  <li class="list-group-item">
    <%= link_to_if can?(:upload, current_object),
                   'Upload Component Thumbnail Files',
                   new_datastream_upload_path(datastream_upload: { collection_id: current_object, datastream_name: Ddr::Datastreams::THUMBNAIL })
    %>
  </li>
  <li class="list-group-item">
    <%= link_to_if can?(:export, current_object),
	'Export Descriptive & Administrative Metadata',
	export_collection_path(current_object)
	%>
  </li>
  <li class="list-group-item">
    <%= link_to_if can?(:export, current_object),
	"Export Digital Object info for ArchivesSpace",
	export_collection_path(id: current_object, format: "csv", type: "aspace")
	%>
  </li>
  <li class="list-group-item">
    <%= link_to "Create Digital Objects in ArchivesSpace",
	aspace_collection_path(current_object)
	%>
  </li>
  <li class="list-group-item">
    <%= link_to_if can?(:export, current_object),
	'Export Technical Metadata',
	export_collection_path(id: current_object, format: "csv", type: "techmd")
	%>
  </li>
  <li class="list-group-item">
    <%= link_to_if can?(:publish, current_object),
                   'Publish Collection and Descendants',
                   publish_collection_path(id: current_object)
    %>
  </li>
  <li class="list-group-item">
    <%= link_to_if can?(:unpublish, current_object),
                   'Un-Publish Collection and Descendants',
                   unpublish_collection_path(id: current_object)
    %>
  </li>
</ul>
