<fieldset>
  <legend>Default License</legend>  
  <div class="form-group">
    <%= f.label :default_license_title, "Default License Title" %>
    <%= f.text_field :default_license_title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :default_license_description, "Default License Description" %>
    <%= f.text_area :default_license_description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :default_license_url, "Default License URL" %>
    <%= f.text_field :default_license_url, class: "form-control" %>
  </div>
</fieldset>
