<h1>Create a new Collection</h1>

<%= form_for @collection do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br />
  <%= f.label :identifier %>
  <%= f.text_field :identifier %>
  <br />
  <%= f.submit "Create Collection" %>
<% end %>
