<h1>Create a new Collection</h1>

<%= form_for @collection do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, :value=>"" %>
  <br />
  <%= f.label :identifier %>
  <%= f.text_field :identifier, :value=>"" %>
  <br />
  <%= label_tag :policypid, "Access Policy" %>
  <%= select_tag :policypid, options_from_collection_for_select(@apos, 'pid', 'label') %>
  <%#= text_field_tag(:policypid) %>
  <br />
  <%= f.submit "Create Collection" %>
<% end %>
