<h1>Create a new Collection</h1>

<%= form_for @collection do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, :value=>"" %>
  <br />
  <%= f.label :identifier %>
  <%= f.text_field :identifier, :value=>"" %>
  <br />
  Access: 
  <%= radio_button_tag(:access, "public") %>
  <%= label_tag(:access_public, "Public") %>
  <%= radio_button_tag(:access, "restricted") %>
  <%= label_tag(:access_restricted, "Restricted") %>
  <%= f.submit "Create Collection" %>
<% end %>
