<h1>Collection <%= @collection.title.first.length > 0 ? @collection.title.first : @collection.pid %></h1>

<%= link_to " Collection List", collections_path %>
<dl>
  <dt>Title:</dt>
  <dd><%= @collection.title.first %></dd>
  <dt>Identifier(s):</dt>
  <dd>
    <ul>
    <% @collection.identifier.each do |id| %>
      <li><%= id %></li>
    <% end %>
    </ul>
  </dd>
  <dt>PID:</dt>
  <dd><%= @collection.pid %></dd>
</dl>

