<h1>Collection <%= @collection.has_title? ? @collection.title.first : @collection.pid %></h1>

<%= link_to " Collection List", collections_path %>
<dl>
  <dt>Title:</dt>
  <dd><%= @collection.has_title? ? @collection.title.first : "" %></dd>
  <dt>Identifier(s):</dt>
  <dd>
    <% if !@collection.identifier.empty? %>
    <ul>
    <% @collection.identifier.each do |id| %>
      <li><%= id %></li>
    <% end %>
    </ul>
    <% else %>
      &nbsp;
    <% end %>
  </dd>
  <dt>Access Policy:</dt>
  <dd><%= @collection.admin_policy ? @collection.admin_policy.pid : "None" %></dd>
  <dt>PID:</dt>
  <dd><%= @collection.pid %></dd>
</dl>

<h2>Members</h2>

<ul>
<% @collection.items.each do |i| %>
  <li><%= link_to i.pid, item_path(i) %></li>
<% end %>
</ul>
