<h3>Preservation Events</h3>

<div class="pagination">
  <%= render_pagination_info @response %>
</div>

<table class="table">
	<thead>
		<tr>
			<th scope="col">PID</th>
			<th scope="col">Event Type</th>
			<th scope="col">Event Outcome</th>
			<th scope="col">Event Date</th>
		</tr>
	</thead>
	<tbody>
  		<% @document_list.each do |doc| %>
  		<tr>
  			<td><%= link_to doc.id, fcrepo_admin.object_path(doc.id) %></td>
    	 	<td><%= pe_solr_field_value(doc, :event_type) %></td>
    	 	<td><%= pe_solr_field_value(doc, :event_outcome) %></td>
    	 	<td><%= pe_solr_field_value(doc, :event_date_time) %></td>
  		</tr>
  		<% end %>		
	</tbody>
</table>

<div class="pagination">
  <%= paginate_rsolr_response @response, :theme => 'blacklight' %>
</div>
