<h1>New Component</h1>

<%= form_tag({:controller => "components", :action => "create"}, :multipart => true) do %>
  <%= fields_for @component do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, :value => "" %>
    <br />
    <%= f.label :identifier %>
    <%= f.text_field :identifier, :value => "" %>
  <% end %>
  <br />
  <%= label_tag :contentfile, "Content File" %>
  <%= file_field_tag :contentfile %>
  <br />
  <%= render "shared/apo_selector" %>
  <br />
  <%= submit_tag "Create Component" %>
<% end %>
