<h1>New Component</h1>

<%= form_tag({:controller => "components", :action => "create"}, :multipart => true) do %>
  <%= label_tag(:contentfile, "Content File") %>
  <%= file_field_tag(:contentfile) %>
  <br />
  <%= label_tag(:policypid, "Access Policy PID") %>
  <%= text_field_tag(:policypid) %>
  <br />
  <%= submit_tag "Create Component" %>
<% end %>
