<% content_for :form_top do %>
  <div class="form-group">
	<label class="control-label">Collection <%= collection.pid %></label>
	<p class="form-control-static">
	  <%= link_to collection.title_display, url_for(collection) %>
	<p>
  </div>
  <div class="form-group">
	<label class="control-label">Add to Item <%= parent.pid %></label>
	<p class="form-control-static">
	  <%= link_to parent.title_display, url_for(parent) %>
	<p>
  </div>
  <%= hidden_field_tag "parent", parent.pid %>
<% end %>

