<h1>Component <%= @component.pid %></h1>

<% if @component.item %>
  <p>
    Part of Item: <%= link_to @component.item.pid, item_path(@component.item.pid) %>
  </p>
<% else %>
  <%= form_for @component do |f| %>
    <%= f.hidden_field :pid %>
    <%= f.label :item %>
    <%= f.text_field :item %>
    <%= f.submit "Add Component to Item" %>
  <% end %>
<% end %>

<h2>Content</h2>

<% if @component.content.content %>
  <dl>
    <dt>Size</dt>
    <dd><%= @component.content.size %></dd>
  </dl>
<% else %>
  <p>
    No content.
  </p>
<% end %>
