<h1>Component <%= @component.pid %></h1>

<% if can? :edit, @component %>
  <p>
    <%= link_to "Edit", edit_component_path(@component) %>
  <p>
<% end %>

<%= render :partial => 'dul_hydra/show_summary', :locals => { :obj => @component } %>

<% if @component.container %>
  <p>
    Part of Item: <%= link_to @component.container.pid, item_path(@component.container) %>
  </p>
<% end %>

<h2>Content</h2>

<% if @component.content.size %>
  <dl>
    <dt>Type</dt>
    <dd><%= @component.content.mimeType %></dd>
    <dt>Size</dt>
    <dd><%= @component.content.size %></dd>
  </dl>
<% else %>
  <p>
    No content.
  </p>
<% end %>
