<h1>Component <%= @component.pid %></h1>

<% if can? :edit, @component %>
  <p>
    <%= link_to "Edit", edit_component_path(@component) %>
  <p>
<% end %>

<dl>
  <dt>Title:</dt>
  <dd><%= @component.title.first %></dd>
  <dt>Identifier:</dt>
  <dd><%= @component.identifier.first %></dd>
  <dt>Access Policy:</dt>
  <dd>
    <%= @component.admin_policy ? @component.admin_policy.pid : "None" %>
  </dd>  
</dl>
<% if @component.container %>
  <p>
    Part of Item: <%= link_to @component.container.pid, item_path(@component.container.pid) %>
  </p>
<% else %>
  <%# XXX Link to separate page %>
<% end %>

<h2>Content</h2>

<% if @component.content.size %>
  <dl>
    <dt>Type</dt>
    <dd><%= @component.content.mimeType %></dd>
    <dt>Size</dt>
    <dd><%= @component.content.size %></dd>
  </dl>
<% else %>
  <p>
    No content.
  </p>
<% end %>
