<h1>Component <%= @component.pid %></h1>

<dl>
  <dt>Access Policy:</dt>
  <dd><%= @component.admin_policy.pid %></dd>  
</dl>
<% if @component.container %>
  <p>
    Part of Item: <%= link_to @component.container.pid, item_path(@component.container.pid) %>
  </p>
<% else %>
  <%= form_for @component do |f| %>
    <%= f.hidden_field :pid %>
    <%= f.label :container %>
    <%= f.text_field :container %>
    <%= f.submit "Add Component to Item" %>
  <% end %>
<% end %>

<h2>Content</h2>

<% if @component.content.content %>
  <dl>
    <dt>Type</dt>
    <dd><%= @component.content.mimeType %></dd>
    <dt>Size</dt>
    <dd><%= @component.content.size %></dd>
  </dl>
<% else %>
  <p>No content.</p>
  <%= form_tag({:controller => "components", :action => "update"}, :multipart => true, :method => "put") do %>
    <%= hidden_field(:component, :pid) %>
    <%= label_tag(:contentfile, "Content File") %>
    <%= file_field_tag(:contentfile) %>    
    <%= submit_tag "Add content" %>
  <% end %>
<% end %>
