<h1>Component <%= @component.pid %></h1>

<% if @component.container %>
  <p>
    Part of Item: <%= link_to @component.container.pid, item_path(@component.container.pid) %>
  </p>
<% else %>
  <%= form_for @component do |f| %>
    <%= f.hidden_field :pid %>
    <%= f.label :container %>
    <%= f.text_field :container %>
    <%= f.submit "Add Component to Item" %>
  <% end %>
<% end %>

<h2>Content</h2>

<% if @component.content.content %>
  <dl>
    <dt>Type</dt>
    <dd><%= @component.content.mimeType %></dd>
    <dt>Size</dt>
    <dd><%= @component.content.size %></dd>
  </dl>
<% else %>
  <p>No content.</p>
  <%= form_for @component do |f| %>
    <%= f.hidden_field :pid %>
    <%= f.label :content %>
    <%= f.file_field :content %>
    <%= f.submit "Add content" %>
  <% end %>
<% end %>
