<h1><%= link_to @title, catalog_path(params[:object_id]) %></h1>

<h3>Children</h3>

<% if @content_metadata %>
  
  <% @content_metadata.each do |structure| %>
    <%= display_structure(structure).html_safe %>
  <% end %>

<% else %>

<div class="pagination">
  <%= render_pagination_info @response %>
</div>

<% document_counter = 0 %>
<% @document_list.each do |document| %>
  <div class="document <%= render_document_class document %>">
    <%= render :partial => 'catalog/document_header', :locals => { :document => document, :document_counter => document_counter} %>
    <div class="row">
      <div class="span1">
	<%= render :partial => 'catalog/thumbnail', :locals => { :document => document, :thumbnail_link => catalog_path(document) } %>
      </div>
      <div class="span8">
	<dl class="dl-horizontal dl-invert">
	  <% index_fields.each do |solr_fname, field| %>
	    <% if should_render_index_field? document, field %>
	      <dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_index_field_label :field => solr_fname %></dt>
	      <dd class="blacklight-<%= solr_fname.parameterize %>"><%= render_index_field_value :document => document, :field => solr_fname %></dd>
	    <% end %>
	  <% end %>
	</dl>
      </div>
    </div>
  </div>
  <% document_counter += 1 %>
<% end %>

<div class="pagination">
  <%= paginate_rsolr_response @response, :theme => 'blacklight' %>
</div>

<% end %>