<h1>Simple Ingest</h1>

<% if @simple_ingest.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @simple_ingest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
  <div class="col-md-5">
    <%= form_for @simple_ingest do |f| %>
        <div class="form-group">
          <%= f.label :collection_id %>
          <%= f.hidden_field :collection_id %>
          <%= object_display_title(@simple_ingest.collection_id) %>
        </div>
        <div class="form-group">
          <%= f.label :base_path, "Base Path" %>
          <%= DulHydra.simple_ingest_base_path %>
        </div>
        <div class="form-group">
          <%= f.label :folder_path, "Folder" %>
          <%= f.select :folder_path, simple_ingest_folder_options_for_select, { include_blank: "Select Simple Ingest Folder" }, { class: "form-control" } %>
        </div>
        <div class="form-group">
          <%= f.label :admin_set, "Admin Set" %>
          <% if @simple_ingest.collection_id.present? %>
            <%= admin_set_title(@simple_ingest.admin_set) %>
          <% else %>
            <%= f.select :admin_set, options_from_collection_for_select(Ddr::Models::AdminSet.all, :code, :title), { include_blank: "N/A" }, { class: "form-control" } %>
          <% end %>
        </div>
        <div class="form-group">
          <%= f.submit "Submit", :id => "simple_ingests_submit_button", :class => "btn btn-primary" %>
        </div>
    <% end %>
  </div>
</div>

