<table class="table table-bordered table-striped table-condensed" style="width: auto">
  <thead>
	<tr>
	  <% if params[:action] == 'new' -%>
	  <th scope="col">#</th>
	  <% end -%>
	  <th scope="col">PID</th>
	  <th scope="col">Type</th>
	  <th scope="col">Title</th>
	  <th scope="col">Identifier</th>
	  <th scope="col">Source</th>
	</tr>
  </thead>
  <tbody>	
	<% documents.each do |doc| %>
	<tr>
	  <% if params[:action] == 'new' -%>
	  <td><%= check_box_tag 'export_set[pids][]', doc.id, true %></td>
	  <% end -%>
	  <td><%= link_to doc.id, catalog_path(doc.id) %></td>
	  <td><%= doc.active_fedora_model %></td>
	  <td><%= doc.title %></td>
	  <td><%= doc.identifier %></td>
	  <td><%= doc.get(:source_tesim) %></td>
	</tr>
	<% end %>
  </tbody>
</table>
