<td><%= link_to doc.id, catalog_path(doc.id) %></td>
<td><%= doc.active_fedora_model %></td>
<td><%= doc.get(:title_t) %></td>
<td><%= doc.get(:identifier_t) %></td>
<td><%= doc.get(:source_t) %></td>
