<h1>Export Sets</h1>

<p>
	<% if current_user.bookmarks.empty? %>
	  Export sets are created from bookmarks.  Please add one or more content-bearing objects to your bookmarks.
	<% else %>
	  <%= link_to "New Export Set", new_export_set_path %>
	<% end %>
</p>

<% if !@export_sets.empty? %>
<table class="table">
	<thead>
		<tr>
			<th scope="col">ID</th>
			<th scope="col">Title</th>
			<th scope="col">Created</th>
			<th scope="col">Archive</th>
			<th scope="col">PIDs</th>
		</tr>
	</thead>
	<tbody>
		<% @export_sets.each do |es| %>
		<tr>
			<td><%= link_to es.id, es %></td>
		        <td><%= es.title %></td>
			<td><%= es.created_at %></td>
			<td><%= link_to es.archive_file_name, es.archive.url %></td>
			<td><%= es.pids.join(', ') %></td>
		</tr>
		<% end %>
	</tbody>
<table>
<% end %>
