<h1>Export Sets</h1>

<% if current_user.bookmarks.empty? %>
  <div class="alert">
	<%= t('dul_hydra.export_sets.alerts.no_bookmarks') %>
  </div>
<% else %>
  <%= render 'export_sets/create_button' %>
<% end %>

<% if @export_sets.empty? %>
  <p>
	You have no export sets.
  </p>
<% else %>
  <table class="table table-bordered table-striped table-condensed" style="margin-top: 1em;">
	<thead>
		<tr>
			<th scope="col">ID</th>
			<th scope="col">Title</th>
			<th scope="col">Type</th>
			<th scope="col">Created</th>
			<th scope="col">Archive</th>
			<th scope="col">PIDs</th>
		</tr>
	</thead>
	<tbody>
		<% @export_sets.each do |es| %>
		<tr>
			<td><%= link_to es.id, es %></td>
		    <td><%= link_to es.title, es %></td>
			<td><%= es.export_type_label %></td>
			<td><%= es.created_at %></td>
			<td>
			  <% if es.archive_file_name %>
			    <%= link_to es.archive_file_name, es.archive.url %>
			  <% else %>
			    (Not created)
			  <% end %>
			</td>
			<td><%= es.pids.join(', ') %></td>
		</tr>
		<% end %>
	</tbody>
  <table>
<% end %>
