<h1>Export Sets</h1>
<p>
  <%= link_to "New Export Set", new_export_set_path, :class => "btn btn-primary" %>
</p>

<% if !@export_sets.empty? %>
<table class="table table-bordered table-striped table-condensed">
	<thead>
		<tr>
			<th scope="col">ID</th>
			<th scope="col">Title</th>
			<th scope="col">Created</th>
			<th scope="col">Archive</th>
			<th scope="col">PIDs</th>
		</tr>
	</thead>
	<tbody>
		<% @export_sets.each do |es| %>
		<tr>
			<td><%= link_to es.id, es %></td>
		    <td><%= link_to es.title, es %></td>
			<td><%= es.created_at %></td>
			<td>
			  <% if es.archive_file_name %>
			    <%= link_to es.archive_file_name, es.archive.url %>
			  <% else %>
			    (Not created)
			  <% end %>
			</td>
			<td><%= es.pids.join(', ') %></td>
		</tr>
		<% end %>
	</tbody>
<table>
<% end %>
