<h1>New Export Set</h1>

<%= form_for @export_set do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <p>Select content-bearing objects from your bookmarks to export:</p>
  <table class="table">
    <thead>
      <tr>
	<th scope="col">#</th>
	<th scope="col">PID</th>
	<th scope="col">Identifier</th>
	<th scope="col">Title</th>
      </tr>
    </thead>
    <tbody>
      <% @document_list.each do |doc| %>
      <tr>
	<td><%= check_box_tag 'export_set[pids][]', doc.id, true %></td>
	<td><%= doc.id %></td>
	<td><%= doc.identifier %></td>
	<td><%= doc.title %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= f.submit :id => 'export_set_submit_button' %>
<% end %>
