<h1><%= export_set_show_title %></h1>

<p>
  <%= render 'show_actions' %>
</p>

<table class="table" style="width: auto">
  <tr>
    <th scope="row">Title</th>
    <td><%= @export_set.title %></td>
  </tr>
  <tr>
	<th scope="row">Export Type</th>
	<td><%= @export_set.export_type_label %></td>
  </tr>
  <tr>
    <th scope="row">Created</th>
    <td><%= @export_set.created_at.localtime %></td>
  </tr>
  <tr>
    <th scope="row">Archive</th>
    <td><%= render 'archive' %></td>
  </tr>
</table>

<h3>Objects</h3>

<%= render 'object_list' %>
