<div class="form-group">
  <%= label_tag :attached_to_id, "Attached To" %>
  <%= link_to attached_to.title_display, url_for(attached_to) %>
  <%= hidden_field_tag :attached_to_id, attached_to.pid %>
</div>

<%= render 'title_field' %>

<%= render 'select_content_file' %>
