<div class="well">
  <h4>New Attachment</h4>
  <%= form_for @attachment, html: {enctype: "multipart/form-data"} do |f| %>
    <%= render partial: 'form_errors', locals: {form: f} %>

    <%= f.label :title %>
    <%= text_field_tag "attachment[title]", nil, required: true %>

    <%= f.label :description %>
    <%= text_area_tag "attachment[description]" %>

	<%= render 'select_content_file' %>

    <%= render partial: 'new_form_actions', locals: {form: f} %>
  <% end %>
</div>
