<h2>New Attachment</h2>

<% if @attachment.errors.any? %>
  <div class="alert alert-danger">
	<p>
	  <strong>A new attachment could not be created due to the following errors:</strong>
	</p>
	<ul>
	  <% @attachment.errors.full_messages.each do |message| %>
	  <li><%= message %></li>
	  <% end %>
	</ul>
  </div>
<% end %>

<%= form_tag attachments_path, method: "post", multipart: true do %>
  <%= label_tag "attachment_title" %>
  <%= text_field_tag "attachment[title]" %>
  <%= label_tag "attachment_description" %>
  <%= text_area_tag "attachment[description]" %>
  <%= label_tag "content" %>
  <%= file_field_tag "content" %>
  <p>
	<%= submit_tag "Save", data: {confirm: "This action will create a new attachment in the repository. Continue?"}, class: "btn btn-primary" %>
	<%= link_to "Cancel", :back, data: {confirm: "Cancel creating a new attachment?" }, class: "btn btn-danger" %>
  </p>
<% end %>
