<h2>New Attachment</h2>

<%= render partial: 'new_errors', locals: {new_object: @attachment} %>

<%= form_for @attachment, html: {enctype: "multipart/form-data"} do |f| %>
  <%= f.label :title %>
  <%= text_field_tag "attachment[title]", nil, required: true %>

  <%= f.label :description %>
  <%= text_area_tag "attachment[description]" %>

  <%= render 'select_content_file' %>

  <%= render partial: 'new_form_actions', locals: {f: f, new_object: @attachment} %>
<% end %>
