<% content_for :main do %>
  <%= render_bookmark_control %>
  <h1><%= object_title %></h1>
  <h3><%= datastream_title %></h3>
  <% unless @datastream.current_version? %>
    <p>
      <%= render_datastream_version %>
	</p>
  <% end %>
  <%= yield %>
<% end %>
<% content_for :sidebar do %>
  <%= object_nav %>
  <%= datastream_nav %>
<% end %>
<%= render :template => 'layouts/fcrepo_admin/default' %>
