<table class="table table-condensed table-hover" id="events">
	<thead>
		<tr>
			<th scope="col">Event DateTime</th>
			<th scope="col">Event Type</th>
			<th scope="col">Outcome</th>
			<th scope="col">Performed By</th>
			<th scope="col">Comment/Summary</th>
			<th scope="col">Details</th>
		</tr>
	</thead>
	<tbody>
  		<% @events.each do |event| %>
  		<tr class="summary">
    	 	<td class="event-date-time"><%= format_date event.event_date_time.localtime %></td>
    	 	<td class="event-type"><%= event.display_type %></td>
    	 	<td class="event-outcome"><%= event_outcome_label event %></th>
			<td class="event-performed-by"><%= event.performed_by %></td>
			<td class="event-comment-detail"><%= event.comment_or_summary %></td>
			<td class="event-more">
			  <%= link_to content_tag(:span, "", class: "glyphicon glyphicon-zoom-in"), event_path(event) %>
			</td>
  		</tr>
  		<% end %>
	</tbody>
</table>
