<%= form_tag permissions_form_action, method: :put, class: "permissions-form" do %>
  <fieldset>
	<legend>
	  <% if params[:default_permissions] %>Default <% end %>Access Controls
	</legend>
	<% all_permissions.each do |permission| %>
	<div class="access-level">
      <label for="permissions_<%= permission %>">
        <span class="access-level-label"><%= permission %></span>
        <span class="access-level-description"><%= t("dul_hydra.permissions.descriptions.#{permission}") %></span>
	  </label>
	  <select name="permissions[<%= permission %>][]" id="permissions_<%= permission %>" multiple="multiple" data-placeholder="Select users/groups to grant <%= permission.upcase %>" style="width:auto">
		<optgroup label="GROUPS">
		  <%= group_options_for_select permission, params[:default_permissions] %>
		</optgroup>
		<optgroup label="USERS">
		  <%= user_options_for_select permission, params[:default_permissions] %>
		</optgroup>
	  </select>
	  <% unless params[:default_permissions] -%>
	    <%= render_inherited_groups permission %>
	    <%= render_inherited_users permission %>
	  <% end -%>
	</div>
    <% end %>
  </fieldset>
  <fieldset>
    <%= render partial: 'form_license', locals: {license: permissions_form_license} %>
  </fieldset>
  <p>
	<%= submit_tag "Save", data: {confirm: permissions_form_confirmation}, class: "btn btn-primary" %>
	<%= link_to "Cancel", permissions_form_action, data: {confirm: "All changes will be lost! Are you sure?"}, class: "btn btn-danger" %>
  </p>
<% end %>

<script type="text/javascript">
  $(function() {
    $(".permissions-form select").chosen({
      placeholder_text_multiple: $(this).attr("data-placeholder")
    });
  });
</script>
