<h4>Preservation Events</h4>
<p>
  <i class="icon-backward"></i>
  <small><%= link_to "Return to Object View", catalog_path(@document.id), :class => "muted" %></small>
</p>
<% unless @documents.blank? %>
<table class="table table-bordered table-condensed table-hover" id="preservation-events">
	<thead>
		<tr>
			<th scope="col">Event Date</th>
			<th scope="col">Event Type</th>
			<th scope="col">Outcome</th>
			<th scope="col">More Information</th>
		</tr>
	</thead>
	<tbody>
  		<% @documents.each do |document| %>
  		<tr class="summary">
    	 	<td><%= format_date document.event_date_time %></td>
    	 	<td><%= document.event_type %></td>
    	 	<td>
			  <%= event_outcome_label document %>
			  <small><%= link_to "Detail", "##{event_detail_id(document)}", "data-toggle" => "modal" %><small>
			  <%= render partial: 'detail', locals: {document: document} %>
			</td>
			<td>
			  <%= link_to "PREMIS Event XML", fcrepo_admin.download_object_datastream_path(document.id, "eventMetadata") %>
			</td>
  		</tr>
  		<% end %>
	</tbody>
</table>
<% else %>
  <p class="alert alert-info">
	No preservation events.
  </p>
<% end %>
