<h4>Preservation Events</h4>
<p>
  <i class="icon-backward"></i>
  <small><%= link_to "Return to Object View", catalog_path(@document.id), :class => "muted" %></small>
</p>
<% unless @preservation_events.empty? %>
<table class="table table-bordered table-condensed table-hover" id="preservation-events">
	<thead>
		<tr>
			<th scope="col">Event Date</th>
			<th scope="col">Event Type</th>
			<th scope="col">Outcome</th>
			<th scope="col">Detail</th>
		</tr>
	</thead>
	<tbody>
  		<% @preservation_events.each do |pe| %>
  		<tr class="summary">
    	 	<td><%= format_date pe.event_date_time %></td>
    	 	<td><%= pe.event_type %></td>
    	 	<td>
			  <%= event_outcome_label pe %>
			  <% if pe.event_outcome_detail_note.present? -%>
			    <%= link_to content_tag(:i, "", class: "icon-zoom-in"), "##{event_outcome_detail_note_id(pe)}", "data-toggle" => "modal", title: "View event outcome detail note" %>
			    <%= render partial: 'event_outcome_detail_note', locals: {pe: pe} %>
			  <% end -%>
			</td>
			<td><%= simple_format(pe.event_detail, style: "margin: 0; font-size: smaller") %></td>
  		</tr>
  		<% end %>
	</tbody>
</table>
<% else %>
  <p class="alert alert-info">
	No preservation events.
  </p>
<% end %>
