<div class="row">
  <div class="span1">
	<%= render_index_thumbnail document %>
  </div>
  <div class="span8">
	<ul class="unstyled">
	  <li>
		<%= document.active_fedora_model %> <%= document.id %>
	  </li>
	  <% if document.identifier -%>
	    <li>
		  <small><%= document.identifier %></small>
	    </li>
	  <% end -%>
	  <% if document.has_content? -%>
	    <li>
		  <small><%= render_index_content document %></small>
	    </li>
	  <% end -%>
	</ul>
  </div>
</div>
