<div class="row">
  <div class="span1">
    <%= link_to render_thumbnail(document), catalog_path(document.id) %>
  </div>
  <div class="span8">
	<ul class="unstyled">
	  <li>
		<%= document.active_fedora_model %> <%= document.id %>
	  </li>
	  <% if document.identifier -%>
	    <li>
		  <small><%= document.identifier %></small>
	    </li>
	  <% end %>
	  <% if document.has_content? -%>
	    <li>
		  <small><%= render_download_link(document: document, label: render_content_type_and_size(document)) %></small>
		  <%= render_download_icon :document => document %>
	    </li>
	  <% end -%>
	</ul>
  </div>
</div>
