<div class="well well-small">
  <ul class="nav nav-list">
	<li class="nav-header">
	  <%= t('dul_hydra.object_nav.headings.object_info') %>
	</li>
	<li>
	  <table class="table table-condensed">
		<tr>
		  <th scope="row"><%= t('dul_hydra.object_nav.items.active_fedora_model') %>:</th>
		  <td><%= @document.active_fedora_model %></td>
		</tr>
		<tr>
		  <th scope="row"><%= t('dul_hydra.object_nav.items.id') %>:</th>
		  <td><%= @document.id %></td>
		</tr>
		<tr>
		  <th scope="row"><%= t('dul_hydra.object_nav.items.identifier') %>:</th>
		  <td><%= @document.identifier %></td>
		</tr>
		<tr>
		  <th scope="row"><%= t('dul_hydra.object_nav.items.object_state') %>:</th>
		  <td><%= render_object_state %></td>
		</tr>
		<tr>
		  <th scope="row"><%= t('dul_hydra.object_nav.items.object_create_date') %>:</th>
		  <td><%= format_date @document.object_create_date %></td>
		</tr>
		<tr>
		  <th scope="row"><%= t('dul_hydra.object_nav.items.object_modified_date') %>:</th>
		  <td><%= format_date @document.object_modified_date %></td>
		</tr>
	  </table>
	</li>
	<li class="nav-header">
	  <%= t('dul_hydra.object_nav.headings.more_info') %>
	</li>
	<% if @object.has_preservation_events? -%>
	<li>
	  <%= link_to_unless_current t('dul_hydra.object_nav.items.preservation_events'), preservation_events_path(@document.id) %>
	</li>
	<% end -%>
	<li>
	  <%= link_to t('dul_hydra.object_nav.items.fcrepo_admin'), fcrepo_admin.object_path(@document.id) %> 
	</li>
  </ul>
</div>
