<div class="navbar">
  <div class="navbar-inner">
	<ul class="nav">
	  <li>
		<%= link_to "Download XML", fcrepo_admin.download_object_datastream_path(@object, "descMetadata") %>
	  </li>
	  <li>
		<%= link_to "Fcrepo View", fcrepo_admin.object_datastream_path(@object, "descMetadata") %>
	  </li>
	</ul>
  </div>
</div>
<table class="table">
  <% metadata_fields.each do |field| %>
    <% if metadata_field_values(field).respond_to?(:each) %>
      <% metadata_field_values(field).each do |value| %>
	  <tr>
	    <th scope="row"><%= metadata_field_label field %></th>
	    <td><%= value %></td>
	  </tr>
      <% end %>
    <% else %>
	<tr>
	  <th scope="row"><%= metadata_field_label field %></th>
	  <td><%= metadata_field_values(field) %></td>
	</tr>
    <% end %>
  <% end %>
</table>
