<%# default partial to display solr document fields in catalog show view -%>
<dl class="dl-horizontal  dl-invert">
  <% document_show_fields.each do |solr_fname, field| -%>
    <% if should_render_show_field? document, field %>
    <dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_label :field => solr_fname %></dt>
    <dd class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_value :document => document, :field => solr_fname %></dd>
    <% end -%>
  <% end -%>
</dl>

<% if document.parent? %>
  <h3>Parent</h3>
  <p>
    <% link_to document.parent_pid, catalog_path(document.parent_pid) %>
  </p>
<% end %>

<h3>Datastreams</h3>
<%= render :partial => 'datastreams', :locals => {:document => document} %>
