<% content_for :main do %>  
  <%= render_breadcrumbs %>
  <div id="document" class="<%= render_document_class %>">
	<div class="row" style="min-height:100px">
	  <div class="span7">
		<h3><%= @document.title %></h3>
	  </div>
	  <div class="span2">
		<div class="pull-right">
		  <%= render_thumbnail %>
		</div>
	  </div>
	</div>
	<div class="document">
	  <%= render 'show_tabs' %>
	</div>
  </div>
<% end %>
<% content_for :sidebar do %>
  <%= render 'show_tools' %>
  <%= render 'show_object_info' %>
  <%= render 'show_fixity' %>
<% end %>

