<div id="content" class="span9 show-document">
  <%#= render_document_breadcrumbs %>
  <div id="document" class="<%= render_document_class %>">
	<div class="row">
	  <div class="span7">
		<h3><%= @document.title %></h3>
		<h5 class="muted"><%= @document.active_fedora_model %></h5>
		<%= render_relationships %>
	  </div>
	  <div class="span2">
		<div class="pull-right">
		  <%= render_thumbnail %>
		</div>
	  </div>
	</div>
	<div class="document">
	  <%= render_document_partial @document, :show %>
	</div>
  </div>
</div> <!-- /content -->
<div id="sidebar" class="span3">
  <%= render_document_sidebar_partial  %>
</div><!-- /sidebar -->
