<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style type="text/css">
th { text-align: left; }
td { text-align: right; }
    </style>
  </head>
  <body>
    <h1><%= @title %></h1>
	<p>
	  Host: <%= @host %><br />
	  DulHydra version: <%= @batch.version %>
	</p>
	<p>
	  Batch Id: <%= @batch.id %><br />
	  Batch Name: <%= @batch.name %><br />
	  Started at: <%= @batch.start %><br />
	  Stopped at: <%= @batch.stop %><br />
	  Status: <%= @batch.status %><br />
	  Outcome: <%= @batch.outcome %>
	</p>
	<p>
	  Objects in batch: <%= @batch.batch_objects.size %><br />
	  Successfully processed: <%= @batch.success %><br />
	  Processing failures: <%= @batch.failure %><br />
	  Unprocessed: <%= @batch.batch_objects.size - @batch.success - @batch.failure %>
	</p>
	<p>
	  See attachment for details of batch run.
	</p>
  </body>
</html>
