<h3>Metadata Update File</h3>

<% if @metadata_file.errors.any? %>
  <div class="alert alert-danger">
    <h2><%= pluralize(@metadata_file.errors.count, "error") %> prohibited this metadata file from being processed:</h2>
 
    <ul>
    <% @metadata_file.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @metadata_file, :html => { :multipart => true } do |f| %>

	<div class="well">
		<div class="form-group">
			<%= f.label :metadata %>
			<%= f.file_field :metadata %>
		</div>
		<div class="form-group">
			<%= f.label :profile %>
			<%= f.select :profile, options_for_select(metadata_file_profiles), { :prompt =>  t('dul_hydra.prompts.select') % "Metadata File Type" }, {:style => 'width: auto;'} %>
		</div>
		<div class="form-group">
			<%= f.label :collection_pid %>
			<%= f.select :collection_pid, model_options_for_select(Collection), { :prompt =>  t('dul_hydra.prompts.select') % "Collection" }, {:style => 'width: auto;'}%>
		</div>
	</div>
	<div class="form-group">
		<%= f.submit I18n.t('batch.metadata_file.upload_file'), :id => 'metadata_file_submit_button', :class => "btn btn-primary" %>
	</div>

<% end %>