<h3>Metadata Update File</h3>

<% if @metadata_file.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@metadata_file.errors.count, "error") %> prohibited this metadata file from being processed:</h2>
 
    <ul>
    <% @metadata_file.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @metadata_file, :html => { :multipart => true } do |f| %>

	<%= f.label :metadata %>
	<%= f.file_field :metadata %>
	<%= f.label :profile %>
	<%= f.select :profile, options_for_select(metadata_file_profiles) %>
	<%= f.label :collection_pid %>
	<%= f.select :collection_pid, model_options_for_select(Collection), { :prompt =>  t('dul_hydra.prompts.select') % "Collection" }, {:style => 'width: auto;'}%>

	<div>
	  <%= f.submit I18n.t('batch.metadata_file.upload_file'), :id => 'metadata_file_submit_button', :class => "btn btn-primary" %>
	</div>

<% end %>