<h2>Role: <%= @role.name %></h2>

<div class="row">
<div class="col-md-4">

<div class="well well-sm">
  <%= link_to_if can?(:edit, @role), "Edit", edit_role_path(@role), class: "btn btn-primary" %>
  <%= link_to_if can?(:destroy, @role), "Delete", {action: :destroy, id: @role}, {data: {confirm: "Are you sure you want to DELETE this role?"}, class: "btn btn-danger", method: :delete} %>
</div>

<table class="table">
  <tr>
	<th scope="row">ID</th>
	<td><%= @role.id %></td>
  </tr>
  <tr>
	<th scope="row">Name</th>
	<td><%= @role.name %></td>
  </tr>
  <tr>
	<th scope="row">Model</th>
	<td><%= @role.model_display %></td>
  </tr>
  <tr>
	<th scope="row">Ability</th>
	<td><%= @role.ability_display %></td>
  </tr>
  <tr>
	<th scope="row">Users</th>
	<td><%= @role.users_string %></td>
  </tr>
  <tr>
	<th scope="row">Groups</th>
	<td><%= @role.groups_string %></td>
  </tr>
</table>

</div> <!-- /col -->
</div> <!-- /row -->
