<h1>Create a new Item</h1>

<%= form_for @item do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, :value=>"" %>
  <br />
  <%= f.label :identifier %>
  <%= f.text_field :identifier, :value=>"" %>
  <br />
  Access Policy: 
  <%= radio_button_tag(:policy, "public") %>
  <%= label_tag(:policy_public, "Public") %>
  <%= radio_button_tag(:policy, "restricted") %>
  <%= label_tag(:policy_restricted, "Restricted") %>
  <br />
  <%= f.submit "Create Item" %>
<% end %>
