<h1><%= @title %></h1>

<%= form_for @item do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, :value=>"" %>
  <br />
  <%= f.label :identifier %>
  <%= f.text_field :identifier, :value=>"" %>
  <br />
  <%= render "shared/apo_selector" %>
  <br />
  <%= f.submit "Create Item" %>
<% end %>
