<h1>Create a new Item</h1>

<%= form_for @item do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, :value=>"" %>
  <br />
  <%= f.label :identifier %>
  <%= f.text_field :identifier, :value=>"" %>
  <br />
  <%= label_tag(:policypid, "Access Policy PID") %>
  <%= text_field_tag(:policypid) %>
  <br />
  <%= f.submit "Create Item" %>
<% end %>
