<h1>Create a new Item</h1>

<%= form_for @item do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, :value=>"" %>
  <br />
  <%= f.label :identifier %>
  <%= f.text_field :identifier, :value=>"" %>
  <br />
  <%= f.submit "Create Item" %>
<% end %>
