<h1>Item <%= @item.has_title? ? @item.title.first : @item.pid %></h1>

<%= link_to "Item List", items_path %>
<dl>
  <dt>Title:</dt>
  <dd><%= @item.has_title? ? @item.title.first : "" %></dd>
  <dt>Identifier(s):</dt>
  <dd>
    <% if !@item.identifier.empty? %>
    <ul>
    <% @item.identifier.each do |id| %>
      <li><%= id %></li>
    <% end %>
    </ul>
    <% else %>
      &nbsp;
    <% end %>
  </dd>
  <dt>Access Policy:</dt>
  <dd><%= @item.admin_policy.pid %></dd>
  <dt>PID:</dt>
  <dd><%= @item.pid %></dd>
</dl>

<% if @item.collection %>
  Member of collection: <%= link_to @item.collection.pid, collection_path(@item.collection.pid) %>
<% else %>
  <%= form_for @item do |f| %>
    <%= f.hidden_field :pid %>
    <%= f.label :collection %>
    <%= f.text_field :collection %>
    <%= f.submit "Add Item to Collection" %>
  <% end %>
<% end %>

<h2>Components</h2>

<ul>
<% @item.parts.each do |part| %>
  <li><%= link_to part.pid, component_path(part.pid) %></li>
<% end %>
</ul>
