<h1><%= @title %></h1>

<%= link_to "Item List", items_path %>

<%= render :partial => 'dul_hydra/show_summary' %>

<% if @item.collection %>
  <h2>Member of Collection</h2> 
  <p>
    <%= link_to @item.collection.pid, collection_path(@item.collection) %>
  </p>
<% end %>

<h2>Parts</h2>
<% if @item.parts.empty? %>
  <p>
    [None]
  <p> 
<% else %>
  <ul>
    <% @item.parts.each do |part| %>
    <li>
      Component <%= link_to part.pid, component_path(part.pid) %>
    </li>
    <% end %>
  </ul>
<% end %>
