<h4>Access Controls</h4>
<table class="table" style="width:auto">
  <thead>
	<tr>
	  <th scope="col">Permission</th>
	  <th scope="col">Granted To</th>
	</tr>
  </thead>
  <tbody>
	<% access_map.each do |access, grantees| %>
	<tr>
	  <td>
		<%= access.to_s.capitalize %>
	  </td>
	  <td>
		<% if grantees[:users].empty? and grantees[:groups].empty? -%>
		-
		<% else %>
		<ul class="unstyled" style="margin:0">
		  <% grantees[:groups].each do |group| %>
		  <li>
			<%= group_icon group %> <%= group_display_name group %>
		  </li>
		  <% end %>
		  <% grantees[:users].each do |user| %>
		  <li>
			<%= user_icon %> <%= user %>
		  </li>
		  <% end %>
		</ul>
		<% end %>
	  <td>
	</tr>
	<% end %>
  </tbody>
</table>
