<% last_fixity_check = current_object.fixity_checks.last %>
<div class="well well-small">
  <ul class="nav nav-list">
	<li class="nav-header">
	  <%= t('dul_hydra.object_nav.headings.fixity') %>
	</li>
	<% if last_fixity_check.present? %>
	<li>
	  <table class="table table-condensed">
		<tr>
		  <th scope="row"><%= t('dul_hydra.object_nav.items.last_fixity_check_on') %>:</th>
		  <td><%= format_date last_fixity_check.event_date_time %></td>
		</tr>
		<tr>
		  <th scope="row"><%= t('dul_hydra.object_nav.items.last_fixity_check_outcome') %>:</th>
		  <td><%= render_last_fixity_check_outcome last_fixity_check.event_outcome %></td>
		</tr>
	  </table>
	</li>
	<% else %>
	<li>
	  No fixity checks
	</li>
	<% end %>
  </ul>
</div>
