<div class="well well-small">
  <ul class="nav nav-list">
	<li class="nav-header">
	  Created
	</li>
	<li>
	  <%= render_object_date @object.create_date %>
	</li>
	<li class="nav-header">
	  Modified
	</li>
	<li>
	   <%= render_object_date @object.modified_date %>
	</li>
	<li class="nav-header">
	  <%= t('dul_hydra.object_nav.headings.fixity') %>
	</li>
	<li>
	  <% if @document.last_fixity_check_outcome.present? %>
	    <%= format_date @document.last_fixity_check_on %>
		<%= render_last_fixity_check_outcome %>
      <% else %>
	    No fixity checks
	  <% end %>
	</li>
	<li class="nav-header">
	  <%= t('dul_hydra.object_nav.headings.more_info') %>
	</li>
	<li>
	  <%= link_to t('dul_hydra.object_nav.items.fcrepo_admin'), fcrepo_admin.object_path(@document.id) %> 
	</li>
  </ul>
</div>
