<h2>New <%= @model %></h2>

<% if @object.errors.any? %>
  <div class="alert alert-danger">
	<p>
	  <strong>A new <%= @model %> could not be created due to the following errors:</strong>
	</p>
	<ul>
	  <% @object.errors.full_messages.each do |message| %>
	  <li><%= message %></li>
	  <% end %>
	</ul>
  </div>
<% end %>

<%= form_tag objects_path, method: :post do %>
  <%= hidden_field_tag "model", params[:model] %>
  <% if @object.governable? -%>
	<%= form_field_label_for_creating :admin_policy_id %>
    <%= form_field_for_creating :admin_policy_id %>
  <% end -%>
  <% terms_for_creating.each do |term| -%>
	<%= form_field_label_for_creating term %>
	<%= form_field_for_creating term %>
  <% end -%>
  <p>
	<%= submit_tag "Save", data: {confirm: "This action will create a new #{@model} in the repository. Continue?"}, class: "btn btn-primary" %>
	<%= link_to "Cancel", :back, data: {confirm: "Cancel creating a new #{@model}?"}, class: "btn btn-danger" %>
  </p>
<% end %>
