<h2>New <%= @model.class %></h2>

<%= form_for :object, url: objects_path do |f| %>
  <%= hidden_field_tag "model", params[:model] %>
  <% if @model.governable? %>
    <%= f.label :admin_policy_id %>
	<%= f.select :admin_policy_id, AdminPolicy.all.collect {|apo| [apo.title, apo.pid]}, {}, {class: "span5"} %>
  <% end %>
  <%= f.label :title %>
  <%= f.text_field :title, size: "50", class: "span5" %>
  <%= f.label :description %>
  <%= f.text_area :description, size: "50x5", class: "span5" %>
  <p>
	<%= f.submit "Save", data: {confirm: "You are about to create a new #{@model.class} in the repository. Continue?"}, class: "btn btn-primary" %>
	<%= link_to "Cancel", :back, data: {confirm: "Are you sure you wanted to cancel creating a new #{@model.class}?"}, class: "btn btn-danger" %>
  </p>
<% end %>
