<%= render partial: 'tab_actions', locals: {tab: tab} %>
<% if current_object.has_content? %>
<table class="table">
  <tr>
	<th scope="row">Media Type</th>
	<td><%= current_object.content_type %></td>
  </tr>
  <tr>
	<th scope="row">Size</th>
	<td>
	  <%= current_object.content_human_size %>
	  (<%= current_object.content_size %> bytes)
	</td>
  </tr>
  <tr>
	<th scope="row">Checksum</th>
	<td>
	  [<%= current_object.content.checksumType %>]
	  <%= current_object.content.checksum %>
	</td>
  </tr>
  <tr>
	<th scope="row">Created</th>
	<td>
	  <%= current_object.content.dsCreateDate.localtime %>
	</td>
  </tr>
  <tr>
	<th scope="row">Versions</th>
	<td>
	  <%= current_object.content.versions.length %>
	</td>
  </tr>
</table>
<% else %>
  <p class="alert alert-danger">
	This object has no content.
  </p>
<% end %>
