<ul class="unstyled">
  <li>
	<%= render_document_model_and_id document %>
  </li>
  <% if document.identifier -%>
    <li class="small">
  	  <%= document.identifier %>
    </li>
  <% end -%>
  <% association, associated_doc = get_associated_document(document) -%>
  <% if associated_doc -%>
    <li class="small">
	  <%= t("dul_hydra.associations.#{association}") %>:
	  <% if can? :read, associated_doc -%>
	    <%= link_to associated_doc.title, document_or_object_url(associated_doc) %>
	  <% else -%>
	    <%= associated_doc.title %>
	  <% end -%>
	</li>
  <% end -%>
  <% if document.has_content? -%>
    <li class="small">
      <%= render partial: 'document_content', locals: {document: document} %>
    </li>
  <% end -%>
</ul>
