<fieldset>
  <legend>License</legend>
  <div class="form-group">
    <%= f.label :license_title, "License Title" %>
    <%= f.text_field :license_title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :license_description, "License Description" %>
    <%= f.text_area :license_description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :license_url, "License URL" %>
    <%= f.text_field :license_url, class: "form-control" %>
  </div>
</fieldset>
