<div class="well well-sm clearfix" id="object-summary">

  <div id="object-thumbnail" class="pull-right">
    <%= render_thumbnail current_object %>
  </div>

  <h5 id="object-title">
    <%= link_to_unless_current render_object_title, url_for(current_object) %>
  </h5>

  <ul class="list-unstyled">
    <li>
      <%= current_object.class.to_s %> <%= current_object.pid %>
    </li>
    <% if current_object.respond_to?(:identifier) && current_object.identifier.present? %>
      <li class="small">
        <%= current_object.identifier.first %>
      </li>
    <% end %>
    <% if current_document.has_content? %>
      <li class="small">
        <%= render partial: 'document_content', locals: {document: current_document} %>
      </li>
    <% end %>
  </ul>

  <% if current_document.streamable? %>
    <%= render partial: 'document_streamable_media', locals: {document: current_document } %>
  <% end %>

  <% if current_object.locked? %>
      <div class="text-danger">
        <span class="glyphicon glyphicon-lock"></span> Locked
      </div>
  <% end %>

  <%# bookmark toggle control %>
  <div>
    <%= render partial: 'catalog/bookmark_control', locals: {document: current_document} %>
  </div>

</div>
