<ul class="list-group" id="object-info">

  <li class="list-group-item active">
    <%= t("dul_hydra.object_info.header") %>
  </li>

  <% if permanent_id = current_object.permanent_id %>
    <%= object_info_item value: permanent_id, label: "permanent_id.assigned" %>
  <% else %>
    <%= object_info_item label: "permanent_id.not_assigned", status: "warning" %>
  <% end %>

  <% if current_object.published? %>
    <%= object_info_item label: "published", status: "info" %>
      <% if permanent_url = current_object.permanent_url %>
          <%= object_info_item value: link_to(permanent_url, permanent_url), label: "permanent_url", status: "info" %>
      <% end %>
  <% else %>
    <%= object_info_item label: "not_published", status: "warning" %>
  <% end %>

  <%= object_info_item value: format_date(current_object.ingest_date), label: "create_date" %>

  <%= object_info_item value: format_date(current_object.modified_date), label: "modified_date" %>

  <% if last_fixity_check = current_object.last_fixity_check %>
    <%= object_info_item value: format_date(last_fixity_check.event_date_time), label: "fixity.checked", status: (last_fixity_check.success? ? "success" : "danger") %>
  <% else %>
    <%= object_info_item label: "fixity.not_checked", status: "warning" %>
  <% end %>

<% if current_object.can_have_content? %>
  <% if last_virus_check = current_object.last_virus_check %>
    <%= object_info_item value: format_date(last_virus_check.event_date_time), label: "virus.scanned", status: (last_virus_check.success? ? 'success' : 'danger') %>
  <% else %>
    <%= object_info_item label: "virus.not_scanned", status: "warning" %>
  <% end %>
<% end %>

<%# EVENTS %>
  <li class="list-group-item">
    <span class="badge"><%= current_object.events.count %></span>
    <%= link_to_unless_current "Events", {action: "events"} %>
  </li>

</ul>
