<div class="well well-sm clearfix" id="object-summary">

  <div id="object-thumbnail" class="pull-right">
    <%= render_thumbnail current_object %><br/>
    <%= render partial: 'catalog/bookmark_control', locals: {document: current_document} %>
  </div>

  <h4 id="object-title">
    <%= link_to_unless_current render_object_title, url_for(current_object) %>
  </h4>

  <ul class="list-unstyled">
    <li>
      <%= current_object.class.to_s %> <%= current_object.pid %><br/>
      <hr/>
    </li>
    <% if current_document.local_id.present? %>
      <li class="small">
        <%= current_document.local_id %>
      </li>
    <% end %>
    <% if current_document.has_content? %>
      <li>
        <%= render partial: 'document_content', locals: {document: current_document} %><br/>
      </li>
    <% end %>
    <% if current_document.has_intermediate_file? %>
      <li>
        <%= render partial: 'document_intermediate', locals: {document: current_document}%><br/>
      </li>
    <% end %>
    <% if current_document.streamable? %>
      <li>
        <%= render partial: 'document_streamable_media', locals: {document: current_document } %><br/>
      </li>
    <% end %>
    <% if current_document.caption_path.present? %>
      <li>
        <%= render partial: 'document_caption', locals: {document: current_document } %><br/>
      </li>
    <% end %>
    <% if current_object.locked? %>
      <li>
        <span class="text-danger">
          <span class="glyphicon glyphicon-lock"></span> Locked
        </span>
      </li>
    <% end %>
  </ul>

</div>
