<div class="form-group">
  <%= label_tag "content_file", "Content File" %>
  <%= file_field_tag "content[file]" %>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="form-group">
      <%= label_tag "content_checksum_type", "Checksum Type" %>
      <%= select_tag "content[checksum_type]", options_for_select(Ddr::Datastreams::CHECKSUM_TYPES, "SHA-1"), class: "form-control" %>
    </div>
  </div>
  <div class="col-md-9">
    <div class="form-group">
      <%= label_tag "content_checksum", "Checksum" %>
      <%= text_field_tag "content[checksum]", nil, class: "form-control" %>
      <span class="help-block">Optional checksum to validate against the repository</span>
    </div>
  </div>
</div>

