<table class="table table-bordered text-center">
	<thead>
		<tr>
      <th>&nbsp;</th>
			<th class="text-center">ORDER</th>
			<th class="text-center">ID</th>
			<th class="text-center">LABEL</th>
			<th class="text-center">ORDERLABEL</th>
			<th class="text-center">TYPE</th>
			<th class="text-center">PID</th>
		</tr>
	</thead>
	<tbody>
		<% Ddr::Models::StructDiv.new(current_object.structure.structMap_node).divs.each do |div| %>
			<tr>
        <td class="text-left">|</td>
				<td><%= div.order %></td>
				<td><%= div.id %></td>
				<td><%= div.label %></td>
				<td><%= div.orderlabel %></td>
        <td><%= div.type %></td>
        <% if div.fptrs.present? %>
          <td><%= link_to_object(div.fptrs.first) %></td>
        <% end %>
			</tr>
      <% if div.divs.present? %>
        <% div.divs.each do |subdiv| %>
          <tr>
            <td class="text-left">|--</td>
            <td><%= subdiv.order %></td>
            <td><%= subdiv.id %></td>
            <td><%= subdiv.label %></td>
            <td><%= subdiv.orderlabel %></td>
            <td><%= subdiv.type %></td>
            <% if subdiv.fptrs.present? %>
              <td><%= link_to_object(subdiv.fptrs.first) %></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
		<% end %>
	</tbody>
</table>
