<div class="panel panel-default">
  <div class="panel-heading">Tools</div>
  <div class="list-group">
    <div class="list-group-item">
	  <%= render_show_doc_actions current_document %>
    </div>
	<% if current_object.is_a?(Collection) and can?(:create, Item) and can?(:add_children, current_object) %>
	<div class="list-group-item">
	  <%= link_to new_item_path(parent_id: current_object.pid), id: "add-item-link" do %>
	    <span class="glyphicon glyphicon-plus"></span> Add Item
	  <% end %>
	</div>
	<% end %>
	<% if current_object.is_a?(Item) and can?(:create, Component) and can?(:add_children, current_object) %>
	<div class="list-group-item">
	  <%= link_to new_component_path(parent_id: current_object.pid), id: "add-component-link" do %>
	    <span class="glyphicon glyphicon-plus"></span> Add Component
	  <% end %>
	</div>
	<% end %>
	<% if current_object.can_have_attachments? and can?(:create, Attachment) and can?(:add_attachment, current_object) %>
	<div class="list-group-item">
	  <%= link_to new_attachment_path(attach_to: current_object.pid), id: "add-attachment-link" do %>
	    <span class="glyphicon glyphicon-paperclip"></span> Add Attachment
	  <% end %>
	</div>
	<% end %>
	<% if current_object.has_content? and can?(:upload, current_object) %>
	<div class="list-group-item">
	  <%= link_to url_for(action: "upload"), id: "upload-content-link" do %>
	    <span class="glyphicon glyphicon-upload"></span> Upload Content
	  <% end %>
	</div>
	<% end %>
  </div>
</div>


