<div class="btn-group">
  <a class="btn <%= acting_as_superuser? ? 'btn-danger' : 'btn-primary' %> btn-sm dropdown-toggle" 
	 data-toggle="dropdown" href="#">
    <% if acting_as_superuser? %><span class="glyphicon glyphicon-eye-open"></span><% end %>
    <%= current_user.to_s %>
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" role="menu">
    <% if authorized_to_act_as_superuser? %>
      <li>
	<% if acting_as_superuser? %>
	  <%= link_to superuser_sign_out_path do %>
            <span class="glyphicon glyphicon-eye-close"></span> Stop acting as Superuser
	  <% end %>
        <% else %>
	  <%= link_to superuser_sign_in_path do %>
            <span class="glyphicon glyphicon-eye-open"></span> Act as Superuser
	  <% end %>
        <% end %>
      </li>
      <li class="divider"></li>
    <% end %>
    <% if acting_as_superuser? %>
    <li>
      <%= link_to admin_dashboard_path do %>
        <span class="glyphicon glyphicon-dashboard"></span> Dashboard
      <% end %>
    </li>
    <% end %>
    <li>
      <%= link_to bookmarks_path do %>
        <span class="glyphicon glyphicon-bookmark"></span> Bookmarks
      <% end %>
    </li>
    <li>
      <%= link_to my_batches_path do %>
        <span class="glyphicon glyphicon-list"></span> Batches
      <% end %>
    </li>
    <li>
      <%= link_to saved_searches_path do %>
        <span class="glyphicon glyphicon-search"></span> 
        <%= t('blacklight.header_links.saved_searches') %>
      <% end %>
    </li>
    <li>
      <%= link_to search_history_path do %>
        <span class="glyphicon glyphicon-time"></span>
	<%= t('blacklight.header_links.search_history') %>
      <% end %>
    </li>
    <li class="divider"></li>
    <li>
      <%= link_to destroy_user_session_path do %>
        <span class="glyphicon glyphicon-hand-left"></span>
	<%= t('blacklight.header_links.logout') %>
      <% end %>
    </li>
  </ul>
</div>
