<%= render partial: 'tab_actions', locals: {tab: tab} %>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Version</th>
      <th scope="col">Date</th>
      <th scope="col">Media Type</th>
      <th scope="col">Size</th>
    </tr>
  </thead>
  <tbody>
    <% current_object.content.versions.each do |version| %>
    <tr>
      <td><%= version.dsVersionID %></td>
      <td><%= version.dsCreateDate %></td>
      <td><%= version.mimeType %></td>
      <td><%= version.dsSize %></td>
    </tr>
    <% end %>
  </tbody>
</table>
