<table class="table table-condensed table-hover" id="preservation-events">
	<thead>
		<tr>
			<th scope="col">Event Date</th>
			<th scope="col">Event Type</th>
			<th scope="col">Outcome</th>
			<th scope="col">Detail</th>
		</tr>
	</thead>
	<tbody>
  		<% object_preservation_events.each do |pe| %>
  		<tr class="summary">
    	 	<td><%= format_date pe.event_date_time %></td>
    	 	<td><%= pe.event_type %></td>
    	 	<td>
			  <%= event_outcome_label pe %>
			  <% if pe.event_outcome_detail_note.present? -%>
    	        <% div_id = "event-outcome-detail-note-#{pe.id}" -%>
				<%= link_to content_tag(:i, "", class: "icon-zoom-in"), "##{div_id}", "data-toggle" => "modal", title: "View event outcome detail note" %>
				<div id="<%= div_id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="<%= div_id %>-label" aria-hidden="true">
				  <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="<%= div_id %>-label">Event Outcome Detail Note</h3>
				  </div>
				  <div class="modal-body">
					<%= simple_format pe.event_outcome_detail_note %>
				  </div>
				  <div class="modal-footer">
					<button class="btn" data-dismiss="modal" aria-hidden="true">x</button>
			      </div>
				</div>
			  <% end -%>
			</td>
			<td><%= simple_format(pe.event_detail, style: "margin: 0; font-size: smaller") %></td>
  		</tr>
  		<% end %>
	</tbody>
</table>
