<div class="pull-right">
  <% if current_user %>
    <%= render 'create_menu' %>
    <strong><%= t('dul_hydra.user.welcome.authenticated') %></strong>
    <%= render 'user_menu' %>
  <% else %>
    <strong><%= t('dul_hydra.user.welcome.guest') %></strong>
    <%= link_to t('blacklight.header_links.login'), new_user_session_path, class: "btn btn-primary" %>
  <% end %>
</div>
