<h1>Ingest Folder</h1>

<div class="row">
  <div class="col-md-5">
    <% if @ingest_folder.errors.any? %>
      <div class="alert alert-danger">
		<strong><%= pluralize(@ingest_folder.errors.count, "error") %> 
		  prohibited this ingest folder from being scanned:</strong>
		<ul>
		  <% @ingest_folder.errors.full_messages.each do |msg| %>
		  <li><%= msg %></li>
		  <% end %>
		</ul>
	  </div>
	<% end %>
    <%= form_for @ingest_folder do |f| %>
		<div class="form-group">
			<%= f.label :base_path %>
			<%= f.select :base_path, options_for_select(permitted_folder_bases), {}, {class: 'form-control'} %>
		</div>
		<div class="form-group">
			<%= f.label :sub_path %>
			<%= f.text_field :sub_path, class: 'form-control' %>
		</div>
		<div class="form-group">
			<%= f.label :checksum_type %>
			<%= f.select :checksum_type, options_for_select(DulHydra::Datastreams::CHECKSUM_TYPES, @ingest_folder.checksum_type || IngestFolder.default_checksum_type), class: 'form-control' %>
		</div>
		<div class="form-group">
			<%= f.label :file_creator %>
			<%= f.select :file_creator, options_for_select(IngestFolder.file_creators.invert), {prompt: t('dul_hydra.prompts.select') % "File Creator (if applicable)" }, {class: 'form-control'} %>
		</div>
		<div class="form-group">
			<%= f.label :collection_pid %>
			<%= f.select :collection_pid, model_options_for_select(Collection, access: :add_children), { :prompt =>  t('dul_hydra.prompts.select') % "Collection" }, {class: 'form-control'} %>
		</div>
		<div class="form-group">
			<%= f.label :parent_id_length %>
			<%= f.text_field :parent_id_length, class: 'form-control' %>
			<span class="help-block"><%= t('batch.ingest_folder.help.parent_id_length')%></span>
		</div>
	  <div class="form-group">
  		<%= f.submit t('batch.ingest_folder.scan_folder'), :id => 'ingest_folders_submit_button', :class => "btn btn-primary", 'data-loading-text' => t('batch.ingest_folder.submitted') %>
	  </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $('#new_ingest_folder').submit(function() {
    $('#ingest_folders_submit_button').button('loading');
  });
</script>
