<h1>Ingest Folder</h1>

<%= content_tag(:table) do %>

	<%= content_tag(:tr) do %>
		<%= content_tag(:td, "Model") %>
		<%= content_tag(:td, @ingest_folder.model) %>
	<% end %>	
	<%= content_tag(:tr) do %>
		<%= content_tag(:td, "Folder") %>
		<%= content_tag(:td, File.join(@ingest_folder.abbreviated_path)) %>
	<% end %>
	<%= content_tag(:tr) do %>
		<%= content_tag(:td, "File Creator") %>
		<%= content_tag(:td, IngestFolder.file_creators.fetch(@ingest_folder.file_creator, nil)) %>
	<% end %>
	<%= content_tag(:tr) do %>
		<%= content_tag(:td, "Files Found") %>
		<%= content_tag(:td, @included) %>
	<% end %>	
	<%= content_tag(:tr) do %>
		<%= content_tag(:td, "Excluded Files") %>
		<%= content_tag(:td) do %>
			<%= content_tag(:ul) do %>
				<% @excluded.each do |exc| %>
					<%= content_tag(:li, exc) %>
				<% end %>
			<% end %>
		<% end %>
	<% end %>	
	<%= content_tag(:tr) do %>
		<%= content_tag(:td, "Checksum File") %>
		<%= content_tag(:td, @ingest_folder.checksum_file) %>
	<% end %>
	<%= content_tag(:tr) do %>
		<%= content_tag(:td, "Checksum Type") %>
		<%= content_tag(:td, @ingest_folder.checksum_type) %>
	<% end %>
	<%= content_tag(:tr) do %>
		<%= content_tag(:td, "Collection") %>
		<%= content_tag(:td, @collection_title) %>
	<% end %>
	<%= content_tag(:tr) do %>
		<%= content_tag(:td, "Admin Policy") %>
		<%= content_tag(:td, @ingest_folder.admin_policy_pid) %>
	<% end %>
	<%= content_tag(:tr) do %>
		<%= content_tag(:td, "Auto Create Parents") %>
		<%= content_tag(:td, @ingest_folder.add_parents) %>
	<% end %>
	<%= content_tag(:tr) do %>
		<%= content_tag(:td, "Parent Identifier Length") %>
		<%= content_tag(:td, @ingest_folder.parent_id_length) %>
	<% end %>
	
<% end %>

<%= link_to "Create Ingest Batch", procezz_ingest_folder_path(@ingest_folder), :class => "btn btn-primary" %>