<h1>Ingest Folder</h1>

<%= content_tag(:table) do %>

	<%= content_tag(:tr) do %>
		<%= content_tag(:td, I18n.t('batch.ingest_folder.folder')) %>
		<%= content_tag(:td, File.join(@ingest_folder.abbreviated_path)) %>
	<% end %>
	<%= content_tag(:tr) do %>
		<%= content_tag(:td, I18n.t('activerecord.attributes.ingest_folder.file_creator')) %>
		<%= content_tag(:td, IngestFolder.file_creators.fetch(@ingest_folder.file_creator, nil)) %>
	<% end %>
	<%= content_tag(:tr) do %>
		<%= content_tag(:td, I18n.t('batch.ingest_folder.objects_to_ingest')) %>
		<%= content_tag(:td) do %>
			<%= content_tag(:ul) do %>
				<%= content_tag(:li, "#{pluralize(@included_files, @ingest_folder.model)}") %>
				<%= content_tag(:li, "#{pluralize(@included_parents, DulHydra::Utils.reflection_object_class(DulHydra::Utils.relationship_object_reflection(@ingest_folder.model, "parent")).name)}") %>
				<%= content_tag(:li, "#{pluralize(@included_targets, IngestFolder.default_target_model)}") %>
			<% end %>
		<% end %>
	<% end %>	
	<%= content_tag(:tr) do %>
		<%= content_tag(:td, I18n.t('batch.ingest_folder.excluded_files')) %>
		<%= content_tag(:td) do %>
			<%= content_tag(:ul) do %>
				<% @excluded.each do |exc| %>
					<%= content_tag(:li, exc) %>
				<% end %>
			<% end %>
		<% end %>
	<% end %>	
	<%= content_tag(:tr) do %>
		<%= content_tag(:td, I18n.t('activerecord.attributes.ingest_folder.checksum_file')) %>
		<%= content_tag(:td, @ingest_folder.checksum_file) %>
	<% end %>
	<%= content_tag(:tr) do %>
		<%= content_tag(:td, I18n.t('activerecord.attributes.ingest_folder.checksum_type')) %>
		<%= content_tag(:td, @ingest_folder.checksum_type) %>
	<% end %>
	<%= content_tag(:tr) do %>
		<%= content_tag(:td, I18n.t('activerecord.attributes.ingest_folder.collection_pid')) %>
		<%= content_tag(:td, @collection_title) %>
	<% end %>
	<%= content_tag(:tr) do %>
		<%= content_tag(:td, I18n.t('activerecord.attributes.ingest_folder.admin_policy_pid')) %>
		<%= content_tag(:td, @ingest_folder.admin_policy_pid) %>
	<% end %>
	<%= content_tag(:tr) do %>
		<%= content_tag(:td, I18n.t('activerecord.attributes.ingest_folder.parent_id_length')) %>
		<%= content_tag(:td, @ingest_folder.parent_id_length) %>
	<% end %>
	
<% end %>

<%= link_to I18n.t('batch.ingest_folder.create_batch'), procezz_ingest_folder_path(@ingest_folder), :class => "btn btn-primary" %>