<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!-- Mobile viewport optimization h5bp.com/ad -->
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
    <!--[if IEMobile]>
      <meta http-equiv="cleartype" content="on">
    <![endif]-->

    <title><%= h(@page_title || application_name) %></title>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= raw(render_head_content) %> 

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>
  <% onload_text = "$('input#q').focus();" if params[:q].to_s.empty? and params[:f].to_s.empty? and params[:id].nil? %>
  <body onload="<%= onload_text %>" class="<%= render_body_class %>">

	<!-- Shared header/navbar -->
    <%= render :partial => 'shared/header_navbar' %>
	<!-- /Shared header/navbar -->

	<div id="ajax-modal" class="modal hide fade" tabindex="-1"></div>

    <!-- main-container -->
	<div id="main-container" class="container">

      <!-- Top bar -->
      <div id="search-found" class="row hidden-phone">
		<%= topbar_items.join('').html_safe %>
      </div> 
      <!-- /Top bar -->
	  
	  <!-- Flash messages -->
      <div class="row">
		<div class="span12">
          <div id="main-flashes">
			<%= render :partial=>'/flash_msg' %>
          </div>
		</div>    
      </div>              
	  <!-- /Flash messages -->
	
	  <!-- main content + sidebar -->
	  <div class="row">
		<div class="span9">
		  <%= render_breadcrumbs %>
		  <div id="document" class="<%= render_document_class %>">
			<div class="row" style="min-height:100px">
			  <div class="span7">
				<h3><%= render_object_title %></h3>
			  </div>
			  <div class="span2">
				<div class="pull-right">
				  <%= render_thumbnail @object %>
				</div>
			  </div>
			</div>
			<div class="document">
			  <%= yield %>
			</div>
		  </div>
		</div>
		<div class="span3">
		  <%= render 'catalog/show_sidebar' %>
		</div>
      </div>
	  <!-- /main content + sidebar -->

	</div> 
    <!-- main-container -->

	<!-- Shared footer -->
	<%= render :partial => 'shared/footer' %>
	<!-- /Shared footer -->

  </body>
</html>
