<% content_for :main_content do %>
<div class="col-md-9">
  <%= yield %>
</div>
<div class="col-md-3" id="object-sidebar">
  <%= render 'object_summary' %>
  <%= render 'tools' %>
  <%= render 'object_info' %>
</div>
<% end %>
<%= render template: "layouts/application" %>
