<% content_for :main_content do %>
<div class="col-md-8">
  <h2>
	<%= content_for(:page_heading)%> <%= content_for(:page_subheading) %>
  </h2>
  <%= yield %>
</div>
<div class="col-md-4" id="object-sidebar">
  <%= render 'object_summary' %>
  <%= render 'related_objects' %>
  <%= render 'object_info' %>
</div>
<% end %>
<%= render template: "layouts/application" %>
