<% content_for :main_content do %>
<div class="col-md-8">
  <% unless current_page?(action: "show") %>
    <h4 class="object-page-superheading">
	  <%= link_to current_object.title_display, url_for(current_object) %>
	  <!-- <small><%= current_object.model_pid %></small> -->
    </h4>
  <% end %>
  <h2 class="object-page-heading">
	<%= content_for :page_heading %>
  </h2>
  <%= yield %>
</div>
<div class="col-md-4" id="object-sidebar">
  <%= render 'object_summary' %>
  <ul class="list-group" id="related-objects">
	<%= render 'related_objects' %>
  </ul>
  <%= render 'object_info' %>
</div>
<% end %>
<%= render template: "layouts/application" %>
