<% content_for :main_content do %>
<div class="span9">
  <div id="document" class="<%= render_document_class %>">
	<h3 id="object-title"><%= render_object_title %></h3>
	<div class="row" style="margin-bottom:1em">
	  <div class="span2" id="object-thumbnail">
		<%= render_thumbnail current_object %>
	  </div>
	  <div class="span7" id="object-summary">
		<%= render_document_summary current_document %>
	  </div>
	</div>
	<div class="document">
	  <%= yield %>
	</div>
  </div>
</div>
<div class="span3">
  <%= render 'sidebar' %>
</div>
<% end %>
<%= render template: "layouts/application" %>
